
.row {
  width: 100%; }

.grid-1 {
  width: 100%;
  display: inline-block; }
  .grid-1 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-1 {
      width: 3.33333%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-2 {
  width: 100%;
  display: inline-block; }
  .grid-2 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-2 {
      width: 11.66667%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-3 {
  width: 100%;
  display: inline-block; }
  .grid-3 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-3 {
      width: 20%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-4 {
  width: 100%;
  display: inline-block; }
  .grid-4 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-4 {
      width: 28.33333%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-5 {
  width: 100%;
  display: inline-block; }
  .grid-5 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-5 {
      width: 36.66667%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-6 {
  width: 100%;
  display: inline-block; }
  .grid-6 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-6 {
      width: 45%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-7 {
  width: 100%;
  display: inline-block; }
  .grid-7 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-7 {
      width: 53.33333%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-8 {
  width: 100%;
  display: inline-block; }
  .grid-8 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-8 {
      width: 61.66667%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-9 {
  width: 100%;
  display: inline-block; }
  .grid-9 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-9 {
      width: 70%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-10 {
  width: 100%;
  display: inline-block; }
  .grid-10 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-10 {
      width: 78.33333%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-11 {
  width: 100%;
  display: inline-block; }
  .grid-11 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-11 {
      width: 86.66667%;
      margin: 2.5%;
      vertical-align: middle; } }

.grid-12 {
  width: 100%;
  display: inline-block; }
  .grid-12 img {
    width: 100%; }
  @media (min-width: 800px) {
    .grid-12 {
      width: 95%;
      margin: 2.5%;
      vertical-align: middle; } }